*{
    margin: 0px;
}
body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #181818;
}
#container{
    margin-right: auto;
    margin-left: auto;
    margin-top: 2cm;
    width: 70%;
    color: rgb(106, 218, 180);
    padding: 2cm;
    border: solid rgb(130, 190, 125) 2px;
    min-height: 220px;
    border-radius: 20px;
}
#container h1{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
.Lenguajes{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.listado{
    margin: 0px;
    width: 15%;
}
#Container-Lenguajes{
    width: 30%;
    display: block;
    float: left;
    margin-left: 4cm;
    margin-top: 1cm;
    color: rgb(106, 218, 180);
    padding: 2cm;
    border: solid black 2px;
    border-radius: 20px;
}