*{
    margin: 0px;
}
body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #575757;
}
#header{
    width: 100%;
    height: 2cm;
    background-color: black;
    color: white;
    line-height: 2cm;
}
#container{
    margin-right: auto;
    margin-left: auto;
    margin-top: 2cm;
    width: 70%;
    color: rgb(106, 218, 180);
    padding: 2cm;
    border: solid rgb(130, 190, 125) 2px;
    min-height: 230px;
    border-radius: 20px;
}
#container h1{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
.Lenguajes{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.listado{
    margin: 0px;
    width: 15%;
}
#Container-Lenguajes{
    width: 27%;
    display: block;
    float: left;
    margin-left: 4cm;
    margin-top: 1cm;
    color: rgb(106, 218, 180);
    padding: 2cm;
    border: solid rgb(130, 190, 125) 2px;
    border-radius: 20px;
    min-height: 227px;
}
#container-cuerpo{
    width: 30%;
    display: block;
    float: left;
    margin-left: 1cm;
    margin-top: 1cm;
    color: rgb(106, 218, 180);
    padding: 2cm;
    border: solid rgb(130, 190, 125) 2px;
    border-radius: 20px;
}


































#footer{
    width: 100%;
    height: 4cm;
    background-color: black;
    margin-top: 14cm;
}
.contacto{
    color: white;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1cm;
}
